*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    border: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

nav {
    /* background-color: antiquewhite; */
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    height: 10vh;
    padding: 0 5rem 0 0;
}

nav>ul {
    display: flex;
    gap: 4rem;
    list-style: none;
}

nav>ul>li>a {
    text-decoration: none;
    color: black;

}

.advance-search {
    /* background-color: antiquewhite; */
    color: #d93025;
    padding: 0 0 2rem 5rem;
    border-bottom: 1px solid lightgray;
    font-weight: 100;
    font-size: xx-small;
}

.title {
    /* background-color: antiquewhite; */
    font-size: large;
    padding: 3rem 0 1.5rem 5rem;
    display: grid;
    grid-template-columns: 17vw 40vw 20vw;
}

.title>p:nth-child(3) {
    padding: 0 0 0 2rem;
}

form {

    display: grid;
    grid-template-columns: 17vw 40vw 20vw;
    padding: 0 0 0 5rem;
    /* background-color: lightblue; */
    gap: 1rem;
}

form>input,
form>label {
    /* background-color: lightcoral; */
    padding: 1rem 0;
}

form>input {
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    border-radius: 5px;
    transition: all ease-in-out .2s;
    padding: 0 0 0 1.25rem;
}

form>input:hover {
    box-shadow: rgba(0, 0, 0, 0.08) 0px 1px 3px 0px, rgba(27, 31, 35, 0.60) 0px 0px 0px 1px;


}

.advance-button {
    /* background-color: antiquewhite; */
    display: flex;
    flex-direction: row-reverse;
}

.advance-button>input {
    padding: 1rem 2rem;
    border-radius: 5px;
    background-color: rgba(0, 149, 255, 0.801);
    color: white;
    font-size: large;
    transition: all ease-in-out .2s;
}

.advance-button>input:hover {
    background-color: rgb(0, 159, 255);
}

form>p {
    color: rgb(160, 160, 160);
}

form>p>span {
    color: rgb(0, 0, 0);
}